
###> symfony/framework-bundle ###
.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/container-desafio/mysql/volume/
/container-desafio/php/volume/
/container-desafio/nginx/volume/


